html {
    padding-top: 10px;
    padding-bottom: 70px;
    background-color: white
}

body { 
    background-color: lightblue;
    margin: auto;
    width: 600px;
    border-radius: 25px;
    padding: 25px 55px;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
}

p, li {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

button {
    font-variant: small-caps;
    color: black;
    padding: 10px 5px;
    font-size: 20px;
    letter-spacing: 0.6px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border-radius: 20px;
}

a:hover {
    text-decoration: underline;
    color:orange;
}

img {
    padding-top: 15px;
}

input {
    border-radius: 3px;
    border: 2px solid black;
}
